@font-face {
  font-family: "iconfont"; /* Project id 3755765 */
  src: url('iconfont.woff2?t=1671026453641') format('woff2'),
       url('iconfont.woff?t=1671026453641') format('woff'),
       url('iconfont.ttf?t=1671026453641') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\eb49";
}

.icon-wenjianjia:before {
  content: "\eb4f";
}

.icon-tupian:before {
  content: "\eb50";
}

.icon-bofang:before {
  content: "\eb5e";
}

.icon-bangzhu:before {
  content: "\eb72";
}

.icon-guanbi:before {
  content: "\eb76";
}

.icon-jiahao:before {
  content: "\eb78";
}

.icon-jianhao:before {
  content: "\eb79";
}

.icon-shanchu:before {
  content: "\eb83";
}

